/*
Theme Name: TheReadingRoom
Description: Used to style the TinyMCE editor for RTL languages.
See also rtl.css file.
*/

html .mceContentBody {
	direction: rtl;
	unicode-bidi: embed;
}
li {
	margin: 0 24px 0 0;
	margin: 0 1.714285714rem 0 0;
}
dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
tr th {
	text-align: right;
}
td {
	padding: 6px 0 6px 10px;
	text-align: right;
}
.wp-caption {
	text-align: right;
}
